---
layout: default
---

<section id="main" class="content">
	
	{% for post in paginator.posts %}
		{% if post.secondary == null %}
		<article id="post-{{post.id}}" class="entry">
			<header class="entry-head">
				<div class="meta-date">
					<span class="meta-month">{{ post.date | date: "%m" }}</span>
					<br />
					<span class="meta-day">{{ post.date | date: "%d" }}</span>
				</div>
				<h2 class="entrytitle" id="post-{{post.id}}">
					<a title="{{ post.title }}" href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
				</h2>
				<p>
					<span class="meta-time">Year {{ post.date | date: "%Y" }}</span>
					<span>|</span>
					<span class="meta-category">
						{% assign number = 0 %}
						{% for category in post.categories %}
							{% if number !=0 %}
								,{{ category }}
							{% else %}
								{{ category }}
								{% assign number = 1%}
							{% endif %}
						{% endfor %}
					</span>
					<span>|</span>
					<span class="meta-author"><a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a></span>
				</p>
			</header>
			<section class="entry-body">
				{{ post.excerpt }}
				<a href="{{ post.url }}" class="more-link">阅读全文 »</a>
			</section>
		</article>
		{% endif %}
	{% endfor %}
	<!-- Pagination links -->
	<nav id="navigation">
		<span class="nav_pre">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
			  {% else %}
				<span class="previous">Previous</span>
			  {% endif %}
		</span>
	  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	  <span class="nav_next">
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		  {% else %}
			<span class="next ">Next</span>
		  {% endif %}</span>
	</nav>
</section>
</section>
