---
layout: theme
---

<div id="header">
	<div class="header_title">
		<h1><a class="logo" href="{{ site.url }}/theme"><span class="logo_hidden">logo</span>WP themes</a></h1>
		<ul>
			<li><a href="{{ site.url }}"><span>Home</span></a></li>
			<li class="current_page_item"><a href="{{ site.url }}/theme"><span>WP themes</span></a></li>
			<li><a href="{{ site.url }}/log"><span>Blog</span></a></li>
			<li><a href="{{ site.url }}/themes/about"><span>About</span></a></li>
		</ul>
	</div>
</div>
<div id="container">
	{% include sidebar.html %}
	<div id="content">
		{% for post in site.posts %}
			{% if post.secondary == 'themehomepage' %}
				<div class="post" id="post-{{post.id}}">
					<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
						<p class="postmetadata">
							Filed under {{ post.categories }} by {{ site.author_name }}
						</p>
					<div class="entry">
						{{ post.content }}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
