---
layout: default
---

<section id="single" class="content">
	<article id="post-{{ page.id }}" class="entry">
		<header class="entry-head">
			<div class="meta-date">
				<span class="meta-month">{{ page.date | date: "%m" }}</span>
				<br />
				<span class="meta-day">{{ page.date | date: "%d" }}</span>
			</div>
			<h2 class="entrytitle" id="post-{{ page.id }}">
				<a title="{{ page.title }}" href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
			</h2>
			<p>
				<span class="meta-time">Year {{ page.date | date: "%Y" }}</span>
				<span>|</span>
				<span class="meta-author"><a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a></span>
				<span>|</span>
				<span class="meta-category">
					{% assign number = 0 %}
					{% for category in page.categories %}
						{% if number !=0 %}
							,{{ category }}
						{% else %}
							{{ category }}
							{% assign number = 1%}
						{% endif %}
					{% endfor %}
				</span>
			</p>
		</header>
		<section class="entry-body">
			{{ page.content }}
		</section>
		
		<!-- LiveRe City install code -->
		<div id="lv-container" data-id="city" data-uid="MTAyMC8zMjg2My85NDI0">
			<script type="text/javascript">
		   (function(d, s) {
			   var j, e = d.getElementsByTagName(s)[0];

			   if (typeof LivereTower === 'function') { return; }

			   j = d.createElement(s);
			   j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
			   j.async = true;

			   e.parentNode.insertBefore(j, e);
		   })(document, 'script');
			</script>
		<noscript> Please activate JavaScript for write a comment in LiveRe</noscript>
		</div>
		<!-- completed City install code -->
	</article>
</section>