<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}" />

		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
		<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
		<link rel="prefetch" href="{{ site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/assets/css/works.css" | prepend: site.url }}">
		<script type="text/javascript" src="{{ "/assets/js/jquery-1.6.4.min.js" | prepend: site.url }}"></script>
		<script type="text/javascript" src="{{ "/assets/js/slides.min.jquery.js" | prepend: site.url }}"></script>
		<script type="text/javascript" src="{{ "/assets/js/work.js" | prepend: site.url }}"></script>
	</head>
	<body>

	{{ content }}

	{% include footer.html %}

  </body>
</html>